<script>
  function show(id) {
    document.getElementById(id).style.display = "block";
  }
  function hide(id) {
    document.getElementById(id).style.display = "none";
  }
</script>
{% extends "base.html" %}
{% block content %}
  <h2>
    <span class="glyphicon glyphicon-cd"  aria-hidden="true"></span>&nbsp;
    <text>Event</text>
  </h2><hr>
  <h4>Section about different activities that can be of interest. </h4><br>
  {% if object_list|length > 0 %} 
    Total: {{ object_list.count }} <br>
    <ul class="list-group" id="eve">
    {% for u in object_list %}
      {% if forloop.counter|divisibleby:2 %}
        <li class="list-group-item"  onMouseOver="show('{{forloop.counter}}')" onMouseOut="hide('{{forloop.counter}}')">
      {%else%}
        <li class="list-group-item active"  onMouseOver="show('descr{{forloop.counter}}')" onMouseOut="hide('descr{{forloop.counter}}')">
      {%endif%}
        <span class="badge">Created:
          {% if today == u.fecha %}
            <h6><b>¡Hoy!</h6></b> 
          {%else%}
            {{ u.fecha }}
          {%endif%}
        </span>
        <h3><b>{{forloop.counter}}</b></h3>
        <b>Título:</b> {{u.name}} <br>
      {%if u.description%}
        <div id="{{forloop.counter}}" style="display: none;"><b>Description:</b> {{u.description}}
      {%endif%}
      </li>
    {%endfor%}
  </ul>
  <small> <code>Help: </code>Mouse over to view the description of the product.</small>
  {%else%} 
    Not now, sorry.
  {% endif %}
{% endblock %}
{% block footer %} 
  <li class="active">Events</li>
{% endblock %}
