{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<div class="row">
  <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4">
    <div class="thumbnail">
      <img src="#" class="img img-responsive" style=" height: 280px;" alt="...">
      <div class="caption">
        <h3></h3>
        <p></p>
      </div>
    </div>
  </div>
  <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4">
    <div class="thumbnail">
      <img src="#" class="img img-responsive" style=" height: 280px;" alt="...">
      <div class="caption">
        <h3></h3>
        <p>
        </p>
      </div>
    </div>
  </div>
  <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4">
    <div class="thumbnail">
      <img src="#" class="img img-responsive" style=" height: 280px;" alt="...">
      <div class="caption">
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-10 col-sm-12 col-md-12 col-lg-12">
  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">History</h3>
  </div>
  <div class="panel-body">
    <quote> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  </quote>
  </div>
  </div>
</div>
</div>
{% endblock %}
{% block footer %} 
  <li><a href="{% url 'landing:info' %}">Info</a> </li>
  <li class="active">who we are</li>
{% endblock %}
