{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <h2>
      <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>&nbsp;
      <text>Help</text>
    </h2><hr>

    <div class="row">
      <h4> Help 1</h4>
      <p>
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione voluptatem impedit suscipit autem et asperiores, consectetur, voluptas voluptates ex quo quas repellat ab doloremque. Est officia debitis, possimus vero quas?
      </p>
    </div><!--row-->

    <div class="row">
      <h4>Help 2</h4>
       <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eius facere, molestiae invintore quas similique, saepe voluptates totam quod, corporis, aperiam fugit menus ipsa cupiditate commodi! Libero eaque inim nisi! </li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque sequi, sint ipsam nobis dolore unde illum repudiandae! Eius maiores placeat voluptate, ullam quia ab facilis, itaque delectus possimus beatae optio!</li>
       </ul> 
    </div>
    <div class="row">
      <h4>About..</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum necessitatibus earum commodi quaerat praesintium, dolores nobis rerum perferendis suscipit temporibus quam, exercitationem dicta nisi aliquid sapiinte voluptatem eaque, nulla corporis?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, assumenda velit? Quisquam perspiciatis expedita nisi quam invintore excepturi sequi, natus distinctio nam ipsam voluptatum laborum id dicta ad adipisci obcaecati. </p>
    </div>
{% endblock %}
{% block footer %} 
  <li><a href="{% url 'landing:info' %}">Info</a></li>
  <li class="active">Help</li>
{% endblock %}
