{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <h2>
      <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>&nbsp;
      <text>Index</text>
    </h2><hr>
    <div class="row">
      <ul>
          <li>
            <h5><a href="{% url 'landing:map'%}">map</a> of the website</h5>
            
          </li>
           <li>
            <h5><a href="{% url 'landing:terms' %}">Terms</a> </h5>
          </li>
          <li>
            <h5><a href="{% url 'landing:help' %}"> Help</a></h5>
          </li>
          <li>
            <h5><a href="{% url 'landing:shipments' %}"> Shipments</a></h5>
          </li>
         <li>
            <h5><a href="{% url 'landing:cookies' %}">Cookies</a></h5>
          </li>  
      </ul>
    </div>
{% endblock %}
{% block footer %} 
    <li class="active">Information</li>
{% endblock %}
