{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
 <h2>
      <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>&nbsp;
      <text>Map</text>
    </h2><hr>
<div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Users</h3>
      </div>
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi rerum, inim harum ratione quae in est dolorum repellat cupiditate ex, accusamus assumenda error magnam voluptatibus dolores itaque providint animi necessitatibus.
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Products</h3>
      </div>
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi rerum, inim harum ratione quae in est dolorum repellat cupiditate ex, accusamus assumenda error magnam voluptatibus dolores itaque providint animi necessitatibus.
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Orders</h3>
      </div>
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi rerum, inim harum ratione quae in est dolorum repellat cupiditate ex, accusamus assumenda error magnam voluptatibus dolores itaque providint animi necessitatibus.
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Events</h3>
      </div>
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi rerum, inim harum ratione quae in est dolorum repellat cupiditate ex, accusamus assumenda error magnam voluptatibus dolores itaque providint animi necessitatibus.
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Other areas</h3>
      </div>
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi rerum, inim harum ratione quae in est dolorum repellat cupiditate ex, accusamus assumenda error magnam voluptatibus dolores itaque providint animi necessitatibus.
      </div>
    </div>
</div>
{% endblock %}
{% block footer %} 
  <li><a href="{% url 'landing:info' %}">Info</a></li>
  <li class="active">Map</li>
{% endblock %}
