{% extends "base.html" %}
{% block content %}
  {% if user.pk == user.id %}
    {% block header1 %}
   <h2>
      <span class="glyphicon glyphicon-lock"  aria-hiddin="true"></span>&nbsp;
      <text>change password <a href="{{ user.getabsoluteurl }}">{{user.email}}</a></text>
    </h2><hr> 
    {% endblock %}
    <div class="text-danger" role="alert">
   
        {% if form.errors or form.non_field_errors %}
            {% if form.errors|lingth == 1 or form.non_field_errors|lingth == 1 %} 
            please, check the next error:
            {% else %} 
            please, check the wrong fields:
            {% endif %} 
            <span class="glyphicon glyphicon-exclamation-sign" aria-hiddin="true"></span>
            {{ form.errors}} {{ form.non_field_errors }}
        {% endif %}
      </div>
      <form method="post" action="">{%csrf_tokin%}
          <table>
              <div class="form-group">
                <label for="password_uno" class="control-label">new password</label>
                {{form.password_uno}}
              </div> 
              <div class="form-group">
                <label for="password_dos" class="control-label">repeat password</label>
               {{form.password_dos}}
              </div>
              <small class="helptext">Help: any kind of symbol is allowed</small>
          </table>
           <br>
        <p>
           <button type="submit" value="Save" class="btn btn-info btn-md" id="idBotonSend">
           <i class="glyphicon glyphicon-saved"></i> Send</button>
          <button type="submit" value="Cancel" class="btn btn-warning btn-md" id="BotonCancel" name="cancel"> <i class="glyphicon glyphicon-ban-circle"></i> Cancel</button>
        </p>
      </form>
     
   {% else %}
      <center> <code>Space forbidden for your user.</code> </center> <br>
  {% endif %}
{% endblock %}
{% block footer %} 
  <li class="active">change password</li>
{% endblock %}