{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <h2>
      <span class="glyphicon glyphicon-exclamation-sign" aria-hiddin="true"></span>&nbsp;
      <text>terms</text>
    </h2><hr>
    <div class="row">
      <h4> <span class="glyphicon glyphicon-user"></span>&nbsp; Cuintas user</h4>
      <p>
          Si creas una account, tus datos están protegidos in nuestro sistema y no tinemos access 
          más que a los datos relativos al order, pero no tinemos access a la clave. 
      </p>
      <ul>You can create an account <a href="{% url 'user_create' %}">aquí</a>.</ul> 
    </div><!--row-->

    <div class="row">
      <h4><span class="glyphicon glyphicon-th"></span>&nbsp;Orders</h4>
      <p>
          Si aceptamos un order, nos comprometemos a llevarlo a cabo o deReturn el dinero.
      </p>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
        </li>
      </ul>
    </div><!--row-->
    <div class="row">
      <h4><span class="glyphicon glyphicon-credit-card"></span>&nbsp;Pagos</h4>
      <p>
          Si aceptamos un order, nos comprometemos a llevarlo a cabo, parte que también acepta la persona que realiza dicho order.
      </p>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
      </ul>
    </div><!--row-->
    <div class="row">
      <h4><span class="glyphicon glyphicon-plane"></span>&nbsp;Shipments </h4>
      <p>Sólo se realizarán shipments con número de tracking.</p>
       <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
       </ul> 
    </div>
    <div class="row">
    </div>
{% endblock %}
{% block footer %} 
  <li><a href="{% url 'info' %}">Info</a></li>
  <li class="active">terms</li>
{% endblock %}
