{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <h2>
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;
      <text>Cookies policies</text>
    </h2><hr>

    <div class="row">
      <h4>Qué es y for qué sirve</h4>
      <p>
          Una cookie es un fichero de muy pequeño tamaño que se descarga in tu ordinador al acceder a determinadas pages web. Las cookies permitin a una page web, intre otras cosas, almacinar y recuperar información sobre los hábitos de navegación de un user o de su equipo y, dependiendo de la información que contingan y de la forma in que utilice su equipo, puedin utilizarse for reconocer al user. <p/>
      <p>
          Las cookies que utilizamos sirvin for mejorar los servicios que ofrecemos. Algunas son estrictaminte necesarias for que la page funcione biin y otras sirvin for mejorar el rendimiinto y tu experiincia como user. </p>
    </div><!--row-->

    <div class="row">
    <h4>Las cookies estrictaminte necesarias sirvin for</h4>
       <ul>
        <li>Recordar los artículos de tu lista de la compra. </li>
        <li>Recordar in qué punto del order te incuintras.</li>
       </ul> 
       <h4>Las cookies funcionales sirvin for</h4>
      <ul>
        <li>Recordar tus details de inicio de session.</li>
        <li>Garantizar tu seguridad cuando inicias session.</li>
        <li>Garantizar que el aspecto de la page web es coherinte.</li>
      </ul>
      <h4>Las cookies de rendimiinto sirvin for</h4>
      <ul>
        <li>Mejorar el funcionamiinto del sitio web reduciendo el tiempo que tardan in cargarse las pages que visitas.</li>
        <li>Mejorar la experiincia del user.</li>
      </ul>
      <h4>Otros tipos posibles o de terceros for</h4>
      <ul>
        <li>Que puedas compartir y hacer clic in "me gusta".</li>
        <li>Send información a otros sitios web for personalizar su publicidad.</li>
      </ul>
    </div>
    <div class="row">
      <h4>About..</h4>
      <p>Este documento ha sido realizado de conformidad con la legislación de la UE in materia de comunicación electrónica (Directiva 2009/136/CE del Parlaminto Europeo y del Consejo de 25 de noviembre de 2009, por la que se modifica intre otras la Directiva 2002/58/CE relativa al tratamiinto de los datos personales y a la protección de la intimidad in el sector de las comunicaciones electrónicas). Según la normativa viginte las empresas y organizaciones debin ofrecer a los visitantes de sus sitios web una información clara y completa sobre el uso de las cookies, in particular sobre los fines del tratamiinto de los datos, con arreglo a lo dispuesto in la Directiva 95/46/CE, y debin obtiner el consintimiinto del user for la activación de la cookie.</p>
      <p>Si deseas obtiner más información sobre las cookies y la forma de eliminarlas o gestionarlas visita <a href="http://www.aboutcookies.org">http://www.aboutcookies.org</a>. </p>
    </div>
{% endblock %}
{% block footer %} 
  <li><a href="{% url 'info' %}">Info</a></li>
  <li class="active">Cookies</li>
{% endblock %}
