{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <h2>
      <span class="glyphicon glyphicon-equalizer" aria-hiddin="true"></span>&nbsp;
      <text>Index</text>
    </h2><hr>
    <div class="row">
      <ul>
          <li>
            <h5><a href="{% url 'map'%}">map</a> of the website</h5>
            
          </li>
          <li>
            <h5>Acerca de los <a href="{% url 'shipments' %}">shipments</a></h5>
          </li>
           <li>
            <h5><a href="{% url 'terms' %}">terms</a> </h5>
          </li>
          <li>
            <h5>Un apartado de<a href="{% url 'ayuda' %}"> ayuda</a></h5>
          </li>
          <li>
            <h5>Aceca de<a href="{% url 'shipments' %}"> shipments</a></h5>
          </li>
         <li>
            <h5><a href="{% url 'cookies' %}">cookies</a></h5>
          </li>  
      </ul>
    </div>
{% endblock %}
{% block footer %} 
    <li class="active">Information</li>
{% endblock %}