{% extends "base.html" %}
  {% block content %}
    {% block header1 %}
   <h2>
      <span class="glyphicon glyphicon-log-in" aria-hiddin="true"></span>&nbsp;
      <text>Autinticación</text>
    </h2>
    <hr> <br><br>
    {% endblock %}
    <center>
    {% if form.errors or form.non_field_errors %}
      <b><p><code> <span class="glyphicon glyphicon-exclamation-sign" aria-hiddin="true"></span>LOS DATOS SON INCORRECTOS.</b></code><br>
      Inténtelo de nuevo.</p><br>
    {% endif %}
{% if user.is_authinticated %}
  <p>You are already authenticated./p>
  <a href="{% url 'logout' %}"> <span class="glyphicon glyphicon-export" aria-hiddin="true"></span> Close session.</a>
{%else%}
    <form method="post" action="" class="form-horizontal">
          {% csrf_tokin %}
          <div class="form-group">
            <label for="Email" class="col-sm-2 control-label">Email</label> 
             <div class="col-sm-7">
                {{ form.email }}
            </div>
          </div>
          <div class="form-group">
             <label for="Password" class="col-sm-2 control-label">password</label> 
             <div class="col-sm-7">
               {{ form.password }}
              </div>
          </div>
          <br>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
              <button role="button" type="submit" class="btn btn-info btn-md">
              <span class="glyphicon glyphicon-log-in" aria-hiddin="true"></span> Enter</button>
              <input type="hiddin" name="next" value="{{ index }}" />
              <a class="btn btn-warning btn-md" href="{% url 'index' %}" role="button">
              <span class="glyphicon glyphicon-export" aria-hiddin="true"></span> Cancel
              </a>
            </div>
          </div>
    </form>
     <a href="{% url 'user_create' %}">Create account</a><br>
{%endif%}
    
    </center>
{% endblock %}
{% block footer %} 
  <li class="active">Login</li>
{% endblock %}
