{% extends "base.html" %}
  {% block contenido %}
    {% block cabeza %}
   <h2>
      <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;
      <text>Autenticación</text>
    </h2>
    <hr> <br><br>
    {% endblock %}
    <center>
    {% if form.errors or form.non_field_errors %}
      <b><p><code> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>LOS DATOS SON INCORRECTOS.</b></code><br>
      Inténtelo de nuevo.</p><br>
    {% endif %}
{% if user.is_authenticated %}
<p>Ya estás autenticado@, desde aquí solamente se puede salir:</p>
  <a href="{% url 'logout' %}"> <span class="glyphicon glyphicon-export" aria-hidden="true"></span> Cerrar sesión.</a>
{%else%}
    <form method="post" action="" class="form-horizontal">
          {% csrf_token %}
          <div class="form-group">
            <label for="Email" class="col-sm-2 control-label">Email</label> 
             <div class="col-sm-7">
                {{ form.email }}
            </div>
          </div>
          <div class="form-group">
             <label for="Password" class="col-sm-2 control-label">Contraseña</label> 
             <div class="col-sm-7">
               {{ form.password }}
              </div>
          </div>
          <br>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
              <button role="button" type="submit" class="btn btn-info btn-md">
              <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Entrar</button>
              <input type="hidden" name="next" value="{{ index }}" />
              <a class="btn btn-warning btn-md" href="{% url 'index' %}" role="button">
              <span class="glyphicon glyphicon-export" aria-hidden="true"></span> Cancelar
              </a>
            </div>
          </div>
    </form>
     <a href="{% url 'crear_usuario' %}">Crear una cuenta</a><br>
{%endif%}
    
    </center>
{% endblock %}
{% block footer %} 
  <li class="active">Login</li>
{% endblock %}
