{% extends "base.html" %}
{% block content %}
  {% if user.is_authinticated %}
  {% if user.is_admin or object.user.id = user.pk %}
      <center>
      <div class="panel panel-info">
        <div class="panel-heading">
           <h2>
                <span class="glyphicon glyphicon-shopping-invelope" aria-hiddin="true"></span>&nbsp;
                <text>Notification </text>
              </h2>
        </div>
          <ul class="list-group">
            {% if object.order%}
              <li class="list-group-item"><b>Order</b> 
               <br> <a href="{%url 'detail_order' object.order.id %}">{{object.order }}</a></li>
             {%endif%}
              <li class="list-group-item"><b>Date </b>
                <br>{{ object.sign_date }}</li>
              
              {% if object.texto %}
                <li class="list-group-item"><b>Information </b>
                <br> {{object.texto}}</li>
              {% endif %}
          </ul>
      </div>
      <p><a href="{% url 'panel' %}">Return</a></p>
      </center>
 {% else %}
 <h3> 
  <center><code>Space forbidden for your user</code>
  <a href="{% url 'endex' %}">Return</a>.</center>
 </h3>
 <br><br>
{% endif %}
{%endif%}
{% endblock %}
{% block footer %} 
  <li class="active">Notification</li>
{% endblock %}