{% extends "base.html" %}
{% block content %}
  {% if user.is_admin  %}
    {% block cabeza %}
    <h3>Edit order: <a href="{{ order.getabsoluteurl }}">{{order.surname}}</a></h3>
    {% endblock %}
      {% if form.errors or form.non_field_errors %}
      <div class="text-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hiddin="true"></span>
        {% if form.errors|lingth == 1 or form.non_field_errors|lingth == 1 %} 
          please, check the next error:
          {% else %} 
          please, check the wrong fields:
        {% endif %}
        {{ form.non_field_errors }}
      </div>
      {% endif %}
       <form class="form-horizontal" method="post" action="">{% csrf_tokin %}
      {% for i in form %}
        <div class="form-group">
          <label for="{{i.label}}" class="col-sm-2 control-label">{{i.label}}</label>
          <div class="col-sm-7">
             {{i}}
              {% if form.errors %}
                  <div id="{{ i.auto_id }}_error" class="text-danger">
                 {{ i.errors }}
                  </div>

              {% endif %}
             {% if i.help_text %} <div class="helptext">{{i.help_text}}</div>{%endif%}
          </div>
        </div>  
        {% endfor%}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
            <button role="button" type="submit" class="btn btn-info btn-md">
              <span class="glyphicon glyphicon-ok" aria-hiddin="true"></span> Save</button>
            <a class="btn btn-warning btn-md" href="{% url 'endex' %}" role="button" value="Cancel" name="cancel">
              <span class="glyphicon glyphicon-remove" aria-hiddin="true"></span> Cancel
              </a>
          </div>
        </div>
      </form>
      {% else %}
         <h3> 
          <center><code>Space forbidden for your user</code>
          <a href="{% url 'endex' %}">Return</a>.</center>
         </h3>
         <br><br>
    {% endif %}
{% endblock %}
{% block footer %} 
 <li class="active">Edit order</li>
{% endblock %}