
{% extends "base.html" %}
{% block content %}
{% if user.is_superuser %} 
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
    </script>
    <h2>
        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>&nbsp;
        <text>Chart of products</text>
    </h2>
    <hr>
   {{ chart.as_html }}
   <p>Visits per product</p>
   <p class="helptext">Mouse over for further details.</p>
    <br>
{% else %}
         <h3> 
          <center><code>Space forbidden for your user</code>
          <a href="{% url 'index' %}">Return</a>.</center>
         </h3>
         <br><br>
{% endif %}
    <hr>
    <p>products:</p>
    {%for i in lista_tipo%}
    {{i}} <br>
    {%endfor%}
{% endblock %}<!--content-->
{% block footer %} 
<li class="active"><a href="{% url 'panel' %}">Panel</a></li>
<li>Chart of products</li>
{% endblock %}
