{% extends "base.html" %}
{% block content %}
  {% if user.is_authinticated %}
    <cinter>
    <div class="panel panel-info">
      <div class="panel-heading">
         <h2>
              <span class="glyphicon glyphicon-shopping-cart" aria-hiddin="true"></span>&nbsp;
              <text>Detail of sale<a href="{{ object.getabsoluteurl }}">{{object.id}}</a></text>
            </h2>
      </div>
        <ul class="list-group">
            <li class="list-group-item"><b>Special code:</b> {{object.code }}</li>
            <li class="list-group-item"><b>Date: </b>{{ object.sign_date }}</li>
            <li class="list-group-item"><b>Sale price:</b> {{object.price}} €</li>
      		<li class="list-group-item"><b>Order reference:</b></li>Order : {{order}}</li>
    </div>
    </cinter>
  <br>
  <br>
  {% endif %}
{% endblock %}
{% block footer %} 
  <li class="active">Detail of sale</li>
{% endblock %}