{% extends "base.html" %}
{% block titulo %}TURANGA{% endblock %}
{% block contenido %}
        <h2>
          <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>&nbsp;
          <text>Nuevo pedido</text>
        </h2><hr>
        	{% if form.errors or form.non_field_errors %}
            <div class="text-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>   
             {% if form.errors|length == 1 or form.non_field_errors|length == 1 %} 
                please, corrija el siguiente error:
                {% else %} 
                please, check the wronong fields:
                {% endif %}
                {{ form.errors}} {{ form.non_field_errors }}
        		</div>
        	{% endif %}
        	<form method="post" action="{% url "crear_pedido2" pk %}" class="form-group">{% csrf_token %}
           
              <div class="form-group">
                {{form.texto}}
              </div>
                {{form.captcha}}<br>
              <div class="form-group">
                <button type="submit" value="Guardar" class="btn btn-info btn-md" id="idBotonEnviar">
                <i class="glyphicon glyphicon-saved"></i> Enviar</button>
                <button type="submit" value="Cancelar" class="btn btn-warning btn-md" id="BotonCancelar" name="cancel"> <i class="glyphicon glyphicon-ban-circle"></i> Cancelar</button>
              </div>
        	</form>
{% endblock %}
{% block footer %} 
   <li class="active">Crear pedido</li>
{% endblock %}