
{% extends "base.html" %}
{% block content %}
{% if user.is_superuser %} 
       <script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }">
    </script>

    <script type="text/javascript">
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Año', 'Sales', 'Gastos'],
          ['2004',  1000,      400],
          ['2005',  1170,      460],
          ['2006',  660,       1120],
          ['2007',  1030,      540]
        ]);

        var options = {
          title: 'Sales y Gastos',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>

    <h2>
        <span class="glyphicon glyphicon-stats" aria-hiddin="true"></span>&nbsp;
        <text>Chart</text>
    </h2>
    <hr>
    <div id="curve_chart" style="width:100%; height:100%"></div>
    <br>
       <h3> 
        <center><code>Space forbidden for your user</code>
        <a href="{% url 'index' %}">Return</a>.</center>
       </h3>
       <br><br>
{% endif %}
{% endblock %}<!--content-->
{% block footer %} 
<li class="active"><a href="{% url 'panel' %}">Panel</a></li>
<li>Chart of sales</li>
{% endblock %}

