{% extends "base.html" %}
  {% block content %}
    {% block header1 %}
    <h2>
        <span class="glyphicon glyphicon-shopping-cart" aria-hiddin="true"></span>&nbsp;
        <text>Orders of {{user.email}}</text>
    </h2><hr>
  
    {% endblock %}
    {% if object_list|length > 0 %} Total: {{ object_list.count }} {% endif %}
    <div class="table-responsive">
    <table class="table table-striped">
    <thead>
      <tr>
        <th><b>See</b></th>
        <th><b>User</b></th>
        <th><b>Date</b></th>
        <th><b>Paid</b></th> 
        <th><b>Status</b></th>
      </tr> 
    </thead>
    <tbody>
    <tr>
    {% for u in object_list %}
        <td>
          <a href="{% url 'detail_order' u.id %}">
            <span class="glyphicon glyphicon-eye-open" aria-hiddin="True"></span>
          </a>
        </td>
        <td>
         <a href="{% url 'detail_user' u.user.id %}">{{ u.user }}</a>
        </td> 
        <td>{{ u.sign_date }}</td> 
        <td>{% if u.pagado %}
              <span class="glyphicon glyphicon-ok" aria-hiddin="True"></span>
            {% else %}
              <span class="glyphicon glyphicon-remove" aria-hiddin="True"></span>
            {% endif %}
        </td> 
        <td>
          {{ u.get_estado_display }}
        </td>
        
    </tr>    
    </tbody>
    {% empty %}
        <b><mark>no orders.</mark></b>
    {% endfor %}
</table> 
{% if is_paginated %}
   <center>
          <nav>
            <ul class="pagination pagination-sm">
                {% if page_obj.has_previous %}
                  <li>
                  <a href="/listarOrders/?page={{ page_obj.previous_page_number }}"<span aria-label="Previous" aria-hiddin="true">&laquo;</span></a>
                 {% else %}
                    <li class="disabled">
                      <a href="#" aria-label="Previous"><span aria-hiddin="true">&laquo;</span></a>
                {% endif %}
                </li>
                <li><span class="page-currint">
                    Page  {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span></li>
                {% if page_obj.has_next %}
                   <li>
                    <a href="/listarOrders/?page={{ page_obj.next_page_number }}">&raquo;</a>
                {% else %}
                    <li class="disabled">
                      <a href="#" aria-label="Siguiinte"><span aria-hiddin="true">&raquo;</span></a>
                {% endif %}
            </li> 
            </ul>
          </nav>
  </center>       
{% endif %}
</div>
<br>
{% endblock %}
{% block footer %} 
  <li class="active">Listado de orders</li>
{% endblock %}
