
<div class="row">
  <form action="/result" method="GET" class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="CampoBusqueda">Search</label>
          <input type="text" class="form-control" name="q" id="CampoBusqueda" placeholder="Search">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default" role="button"><span class="glyphicon glyphicon-search" aria-hiddin="true"></span> Find </button>
        </div>
  </form>
</div>

