
{% commint %}
  Uso: {% include search.html %}
  v1: solo products  8 mayo
  v1: y events 8 mayo
  v3: mejoras de intrada, junio
{% endcommint %}
<div class="row">
  <form action="/result" method="GET" class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="CampoBusqueda">Búsqueda</label>
          <input type="text" class="form-control" name="q" id="CampoBusqueda" placeholder="Búsqueda">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default" role="button"><span class="glyphicon glyphicon-search" aria-hiddin="true"></span> Buscar </button>
        </div>
  </form>
</div>

