{% extends "base.html" %}
{% block content %}
  {% if user.is_authinticated %}
    <center>
    <div class="panel panel-info">
      <div class="panel-heading">
         <h2>
              <span class="glyphicon glyphicon-plane" aria-hiddin="true"></span>&nbsp;
              <text>Detail of shipment<a href="{{ shipment.getabsoluteurl }}">{{shipment.id}}</a></text>
         </h2>
      </div>
       <ul class="list-group">
            <li class="list-group-item"><b>Order:</b><a href="{% url 'detail_order' shipment.order.id %}"> {{shipment.order }}</a></li>
            <li class="list-group-item"><b>Date departure: </b>{{ shipment.sign_date }}</li>
            <li class="list-group-item"><b>Tracking number<:</b>{{shipment.number}}</li>
            {% if shipment.informacion_adicional %}
            <li class="list-group-item"><b>Information extra: </b> {{shipment.informacion_adicional}}</li>
            {% endif %}
            <li class="list-group-item"><b>Shipment price: €</b>
            {{shipment.price_shipment}}
            </li>
            <li class="list-group-item"><b>delivered: </b>
               {% if shipment.recibido %}
                <span class="glyphicon glyphicon-ok" aria-hiddin="True"></span>
                {{shipment.fecha_intrega}}
              {% else %}               
                <span class="glyphicon glyphicon-remove" aria-hiddin="True"></span>
              {% endif %}
            </li>
            <li class="list-group-item"><b>Company:</b>
              {{shipment.comp}}
            </li>
            <li class="list-group-item"><b>Link for tracking:</b>
              {{shipment.url_comp}}
            </li>
        </ul>
  </div>
  </center>
  <br>
  <br>
  {% endif %}
{% endblock %}
{% block footer %} 
  <li class="active">Detail of shipment</li>
{% endblock %}