{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<div class="row">
     <h2>
      <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>&nbsp;
      <text>Shipments</text>
    </h2><hr>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">España</h3>
      </div>
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi rerum, inim harum ratione 
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">European Union</h3>
      </div>
      <div class="panel-body">
        We send parcels anywhere as long as package is tracked. Small package is about 14€ and large one is about 20€.
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Worldwidely</h3>
      </div>
      <div class="panel-body">
        We send parcels anywhere as long as package is tracked. Small package is about 14€ and large one is about 20€.
      </div>
    </div>
    <p>more información in <a href="{% url 'terms' %}">condiciones</a>, o in <a href="{% url 'landing:help' %}">landing:help</a>. Sino incuintras lo que buscas, siempre puedes <a href="{% url 'contact:contact_form' %}">contact:contact_formarnos</a>.</p>
</div>
{% endblock %}
{% block footer %} 
  <li><a href="{% url 'info' %}">Info</a></li>
  <li class="active">Shipments</li>
{% endblock %}
