  {% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    {% if user.is_authenticated %}
        {% if user.is_superuser %} 
          <h2>
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            <text>Administration</text>
          </h2>
          <hr>
      <div role="tabpanel">
      <!-- pestañas del panel -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#users" aria-controls="users" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users</a></li>
        <li role="presentation"><a href="#orders" aria-controls="orders" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Orders</a></li>
        <li role="presentation"><a href="#events:events_list" aria-controls="events:events_list" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-cd"  aria-hidden="true"></span> Events</a></li>
        <li role="presentation"><a href="#shipments" aria-controls="shipments" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-plane"  aria-hidden="true"></span> Shipments</a></li>
        <li role="presentation"><a href="#sales" aria-controls="sales" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-shopping-cart"  aria-hidden="true"></span> Sales</a></li>
      </ul>
      <!--content of paneles -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="users">
          {% include "clients/users_list2.html" %}
         
        </div>
        <div role="tabpanel" class="tab-pane fade" id="orders">
           {% include "orders_list.html" %}
           
        </div>
        <div role="tabpanel" class="tab-pane fade" id="events_list">
          <a href="{% url 'events:events_list' %}">See lista</a>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="shipments">
          {% include "shipments_list.html" %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="sales">
          {% include "orders_list.html" %}
          <a href="{% url 'chart_sales' %}">Sales charts</a>
        </div>
      </div>
      <hr>
      <p>There are {% if nuevos = 0 %}<code>0</code> {%else%} {{nuevos}}
      {%endif%}
	      <b>messages</b> news.</p>
      <p>There are {% if n_admins = 0  %}<code>0</code> {%else%} {{n_admins}}
      {%endif%} <b>emails</b> of administrators not read.</p>
      <p>The system has {% if prods = 0  %}<code>0</code> {%else%} {{prods}}{%endif%} products.
         <a href="{% url 'chart_products' %}">See products popularity.</a>  </p>
    </div>
       {% else %}<!--User no admin-->
          <h2>
           <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <text>Panel of {{user.email}} </text>
          </h2>
          <hr>
          <p>¡ Welcome, {{user.get_name|capfirst}} !</p>
         <div class="container-fluid">
            <div class="row">
            <div class="col-md-4">
             <p><center>
              <a class="btn btn-default btn-lg" href="{% url 'account:user_detail' user.id %}" role="button">
                <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
              Account
              </a>
               <p class="help-block"><small>Personal data.</small></p>
             </center></p>
         
            </div>
            <div class="col-md-4">
              <p> <center>
              <a class="btn btn-default btn-lg" href="{% url 'shop:ordersUser'
		              %}" role="button">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
              Orders
              </a>
              <p class="help-block"><small>Shipments, invoices, tracking of the parcel, etc.</small></p>
             </center> </p>
            </div>
            <div class="col-md-4">
                <p><center>
                <a class="btn btn-default btn-lg" href="{% url 'notifications:list' user.id %}" role="button">
                  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                 Notifications
                {% if user.messages > 0 %}<span class="badge">{{user.messages}}{%endif%}</span></a>
                 <p class="help-block"><small>Messages of the account,
	                 shipments, events...</small></p>
              </center></p>
            </div>
          </div>
         </div>
         <br>
        <div class="container-fluid">
	        <p> Last access: {{user.last_login}}.</p>
        </div>
      {% endif %}
      <br>
      <hr>
          <p>
            <a href="{% url 'logout' %}"><span class="glyphicon
            glyphicon-off" aria-hidden="true">
            </span> Close session</a>
          </p>         
  {% else %}
    You are not authenticated to view this content. Go to <a href="{% url
		    'login' %}">Login.</a><br>
  {% endif %}
{% endblock %}
{% block footer %} 
<li class="active">Panel of {% if user.is_superuser %} administración {% else %} {{user}} {% endif %}</li>
{% endblock %}
<script type="text/javascript" src="{%  static 'panel.js' %}"></script>
