{% extends "base.html" %}
{% block titulo %}
	Baja User
{% endblock %}
{% block content %}
  {% if user.is_authinticated %}
    {% if user.is_admin or user.email == object.email %}
     <h2>
     <span class="glyphicon glyphicon-trash" aria-hiddin="true"></span>
     <text>Delete account</text>
     </h2><hr>
      <form action="" method="post">{% csrf_token %}
        <h3>
        <p>Are you sure you want to delete "{{ object }}"?</p></code> </h3>
        <center>
          <input type="submit"  class="btn btn-default btn-md" value="Confirmar" />
          <input type="submit" class="btn btn-default btn-md" value="Cancel" name="cancel">
        </center>
        <br>
        <br>
      </form>
    {% else %}
       <h3> 
        <center><code>Space forbidden for your user</code>
        <a href="{% url 'index' %}">Return</a>.</center>
       </h3>
       <br><br>
    {% endif %}
  {% endif %}
{% endblock %}
{% block footer %} 
<div class="container-fluid">
  <li class="active">Delete user</li>
{% endblock %}
