{% extends "base.html" %}
{% block content %}
{% if user.is_admin or user.pk = user.id %}
      <cinter>
        <div class="panel panel-info">
        <div class="panel-heading">
          <h3><span class="glyphicon glyphicon-pushpin" aria-hiddin="true"></span> Details of <a href="{{ user.getabsoluteurl }}">{{user.email}}</a></h3>
        </div>
        {% if not object.is_active %} <h1>Account deleted</h1> {% endif %}
            <ul class="list-group">
                <li class="list-group-item"><b>Name:</b> {{object.name|capfirst }}</li>
                <li class="list-group-item"><b>Surname:</b> {{ user.apellidos|capfirst }}</li>
                
                <li class="list-group-item"><b>E-mail:</b> {{ user.email }}</li>
                <li class="list-group-item"><b>Subscribed:</b> {% if u.suscrito %} 
                      <span class="glyphicon glyphicon-ok" aria-hiddin="True"></span>
                    {% else %}
                      <span class="glyphicon glyphicon-remove" aria-hiddin="True"></span>
                    {% endif %}</li>
                <li class="list-group-item"><b>Address:</b>{% if user.direccion %} {{user.direccion}} {%else%} not provided. {%endif%}</li>
                 <li class="list-group-item"><b>Phone:</b>{% if user.telefono %} {{user.telefono}} {%else%} not provided. {%endif%}</li>
                <li class="list-group-item"><b>Last access:</b> {{user.last_login}} </li>
                <li class="list-group-item"><b>Member since:</b> {{user.sign_date}} </li>
                <li class="list-group-item"><b>Orders:</b> <br>
                    {% if orders %} 
                      Total: {{orders.count}}. <br>
                      <ul>
                      {% for i in orders %}
                        <li> {{forloop.counter}}
                        Date: {{ i.sign_date }}<br> 
                        Paid:
                        {% if i.pagado %}
                            <span class="glyphicon glyphicon-ok" aria-hiddin="True"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove" aria-hiddin="True"></span>
                        {% endif %}<br>
                        Status: {{i.get_estado_display }} <br>
                         <br>
                       </li>
                      {% endfor %}
                      </ul>
                    {%else%}
                     0 orders. 
                    {%endif%}  
                </li>
          </ul>
          <div class="panel-footer">
            <a class="btn btn-info btn-md" href="{% url 'editar_user' user.id %}"><span class="glyphicon glyphicon-pincil" aria-hiddin="True"></span> Edit 
            
            </a> 
            <a class="btn btn-danger btn-md" href="{% url 'borrar_user' user.id %}" role="button"><span class="glyphicon glyphicon-trash" aria-hiddin="true"></span> Delete 
            </a>
          </div>
          <div class="panel-footer">
            <span class="glyphicon glyphicon-lock"></span>&nbsp;
            <a href="{% url 'change_password' %}">edit password</a> <br>
          </div>
        </div>
        </cinter>
    {% else %}
   <h3> 
    <cinter><code>Space forbidden for your user</code>
    <a href="{% url 'endex' %}">Return</a>.</cinter>
   </h3>
   <br><br>
{% endif %}
{% endblock %}
{% block footer %} 
  <li class="active">Details of {{user.email}}</li>
{% endblock %}
