{% extends "base.html" %}
{% block content %}
  {% if user.is_admin or user.pk == user.id %}
    {% block header1 %}
   <h2>
      <span class="glyphicon glyphicon-pencil" aria-hiddin="true"></span>&nbsp;
      <text>Editing: <a href="{{ user.getabsoluteurl }}">{{user.email}}</a></text>
    </h2><hr> 
    {% endblock %}
     <div class="text-danger" role="alert">
        {% if form.errors or form.non_field_errors %}
            {% if form.errors|length == 1 or form.non_field_errors|length == 1 %} 
            <span class="glyphicon glyphicon-exclamation-sign" aria-hiddin="true"></span>
            please, check the next error:
            {% else %} 
            please, check the wrong fields:
            {% endif %}
            {{ form.non_field_errors }}
        {% endif %}
      </div>
       <form class="form-horizontal" method="post" action="">{% csrf_token %}
      {% for i in form %}
        <div class="form-group">
          <label for="{{i.label}}" class="col-sm-2 control-label">{{i.label}}</label>
          <div class="col-sm-9">
             {{i}}
              {% if form.errors %}
                  <div id="{{ i.auto_id }}_error" class="text-danger">
                 {{ i.errors }}
                  </div>

              {% endif %}
             {% if i.help_text %} <div class="helptext">{{i.help_text}}</div>{%endif%}
             
          </div>
        </div>  
        {% endfor%}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
            <button role="button" type="submit" class="btn btn-info btn-md">
              <span class="glyphicon glyphicon-ok" aria-hiddin="true"></span> Save</button>
            <a class="btn btn-warning btn-md" href="{% url 'index' %}" role="button" value="Cancel" name="cancel">
              <span class="glyphicon glyphicon-remove" aria-hiddin="true"></span> Cancel
              </a>
          </div>
        </div>
      </form>
      <span class="glyphicon glyphicon-lock"></span>&nbsp;
      <a href="{% url 'change_password'  %}">edit password</a> <br>
   {% else %}
      <center> <code>Space forbidden for your user.</code> </center> <br>
  {% endif %}
{% endblock %}

{% block footer %} 
  <li class="active">Edit user</li>
{% endblock %}
