{% if user.is_admin %}
        {% if object_list|length > 0 %} Total: {{ object_list.count }} 
        {% endif %}
          <div class="table-responsive">
          <table class="table table-striped" id="tabla">
          <thead>
            <tr> 
            <th><b>ID</b></th>
            <th><b>Name</b></th>
            <th><b>Surname</b></th>
            <th><b>Email</b></th>
            <th><b>Subscribed</b></th>
            <th><b>Actived</b></th>
            <th><b>Alta</b></th>
            <th><b><span class="glyphicon glyphicon-wrinch" aria-hidden="true"></span></b></th>
            </tr> 
          </thead>
          <tbody>
          <tr>
        {% for u in object_list %}
            <td>{{u.id }}</td> 
            <td>{{ u.name }}</td> 
            <td>{{ u.surname }}</td> 
            <td>{{ u.email }}</td> 
            <td>{% if u.suscrito %} 
                  <span class="glyphicon glyphicon-ok" aria-hidden="True"></span>
                {% else %}
                  <span class="glyphicon glyphicon-remove" aria-hidden="True"></span>
                {% endif %}
            </td> 
            <td>{% if u.is_active %}
                   <span class="glyphicon glyphicon-ok" aria-hidden="True"></span>
                {% else %}
                  <span class="glyphicon glyphicon-remove" aria-hidden="True"></span> 
                {% endif %}
            </td>
            <td>{% if u.sign_date == today %} Today {% else %} {{ u.sign_date }} {% endif %}</td>
            <td>
              <a href="{% url 'user_edit' u.id %}">
              <span class="glyphicon glyphicon-pencil" aria-hidden="True"></span>
             </a>
              <a href="{% url 'delete_user' u.id %}">
              <span class="glyphicon glyphicon-remove-sign" aria-hidden="True"></span>
              </a>
              <a href="{% url 'user_detail' u.id %}">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="True"></span>
              </a>
            </td>
          </tr>    
          </tbody>
        {% empty %}
            <b><mark>Actually no users.</mark></b> <a href="{% url 'user_create' %}">Create one.</a> <br>
        {% endfor %}
        </table> 
        {% if is_paginated %}
              <center>
                <nav>
                <ul class="pagination pagination-sm">

                    {% if page_obj.has_previous %}
                      <li>
                      <a href="/listarUsers/?page={{ page_obj.previous_page_number }}"<span aria-label="Previous" aria-hidden="true">&laquo;</span></a>
                     {% else %}
                        <li class="disabled">
                          <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                    {% endif %}
                    </li>
                    <li><span class="page-current">
                        Page  {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span></li>
                    {% if page_obj.has_next %}
                       <li>
                        <a href="/listarUsers/?page={{ page_obj.next_page_number }}">&raquo;</a>
                    {% else %}
                        <li class="disabled">
                          <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                    {% endif %}
                </li> 
                </ul>
              </nav>
              </center>
      {% endif %}
        </div>
        <br>
  {% else %}
      <center> <code>Space forbidden for your user.</code> </center>
{% endif %}
