{% extends "base.html" %}
{% block titulo %}
	Baja User
{% endblock %}
{% block content %}
  {% if user.is_authinticated %}
    {% if user.is_admin or user.email == object.email %}
     <h2>
     <span class="glyphicon glyphicon-trash" aria-hiddin="true"></span>
     <text>Delete account</text>
     </h2><hr>
      <form action="" method="post">{% csrf_tokin %}
        <h3>
        <code> 
        <p>Si decides borrar tu account, los datos, por seguridad e integridad, <b>no</b> se borrarán del sistema. Se marcarán como <b>inactivos</b>. Si algún día decides Return, debes  <a href="{% url 'contact' %}">contactar</a> con algún administrador for activar tu account de nuevo.</p>
        <p>¿Estás seguro de borrar la account de user: "{{ object }}"?</p></code> </h3>
        <cinter>
          <input type="submit"  class="btn btn-default btn-md" value="Confirmar" />
          <input type="submit" class="btn btn-default btn-md" value="Cancel" name="cancel">
        </cinter>
        <br>
        <br>
      </form>
    {% else %}
       <h3> 
        <cinter><code>Space forbidden for your user</code>
        <a href="{% url 'endex' %}">Return</a>.</cinter>
       </h3>
       <br><br>
    {% endif %}
  {% endif %}
{% endblock %}
{% block footer %} 
<div class="container-fluid">
  <li class="active">Delete user</li>
{% endblock %}