{% extends "base.html" %}
{% block content %}
      <center>
        <div class="panel panel-info">
        <div class="panel-heading">
          <h3><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> Details of <a href="{{ object.getabsoluteurl }}">{{object.name}}</a></h3>
        </div>
        <ul class="list-group">
                <li class="list-group-item"><b>Name:</b> {{object.name|capfirst }}</li>
                <li class="list-group-item"><b>Available since:</b> {{ object.sign_date|date }}</li>
                <li class="list-group-item"><b>Category:</b> {{ object.tipo }}</li>
                <li class="list-group-item"><b>Available:</b> {% if u.in_sale %} 
                      <span class="glyphicon glyphicon-ok" aria-hidden="True"></span>
                    {% else %}
                      <span class="glyphicon glyphicon-remove" aria-hidden="True"></span>
                    {% endif %}</li>
                <li class="list-group-item"><b>Information:</b>{% if object.informacion %} {{object.informacion|linebreaks}} {%else%} not provided. {%endif%}</li>
                {% if object.url_sample %}
                  <li class="list-group-item">
                  <b>Sample of sound:</b>
                  <a href="{{object.url_sample}}" target=_blank>Audio
                    <span class="glyphicon glyphicon-headphones" aria-hidden="True"></span></a>
                  </li>
                {%endif%}
                <li class="list-group-item"><b>Price:</b>{{object.price}} € </li>
                {% if object.foto %}
                  <li class="list-group-item">
                     <a href="{{object.picture.url}}" target=_blank>
                      <div class="thumbnail"> <img src="{{object.foto.url}}">
                      </div>
                    </a>
                  </li>
                {% endif %}
        </ul>
          {% if object.in_sale %} 
            <div class="panel-footer">
              <a href="{% url 'order_create2' object.id %}" class="btn btn-lg btn-success" role="button">
              <span class="glyphicon glyphicon-copy"></span> Order
              </a>            
            </div>
          {% endif %}
        </div>
        </center>
{% endblock %}
{% block footer %} 
       <li><a href="{% url 'products:list' %}">Products</a></li>
        <li class="active">{{object.name}}</li>
{% endblock %}     
