{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
  {%block header1%}
  <h2>
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;
      <text>Notifications of <a href="{{ user.getabsoluteurl }}">{{user.email}}</a></text>
  </h2><hr>
    {% endblock %}
    {%if user.is_authenticated or user.is_admin %}
      {% if object_list|length > 0 %} Total: {{ object_list.count }} {% endif %}
      <div class="table-responsive">
      <table class="table table-striped">
      <thead>
      <tr> 
        <th><b>Watch</b></th>
        <th><b>Received</b></th>
        <th><b>About</b></th>
        <th><b>Seen</b></th>
      </tr> 
      </thead>
      <tbody>
      <tr>
      {% for u in object_list %}          
          <td>
              <a href="{% url 'notifications:notification_detail' u.id %}">
              <span class="glyphicon glyphicon-eye-open" aria-hidden="True"></span>
            </a>
          </td> 
          <td>{{ u.sign_date }}</td> 
          <!--td u.get_estado_display /td-->
          <td>
            {{u.text|truncatewords:15}}
          </td>
          <td>
            {%if u.notified%}
              <span class="glyphicon glyphicon-ok" aria-hidden="True"></span>
            {% else %}
                  <span class="glyphicon glyphicon-remove" aria-hidden="True"></span>
            {% endif %}
          </td>
      </tr>    
      </tbody>
      {% empty %}
          <b><mark>No new messages.</mark></b><br>
      {% endfor %}
      
      </table> 
      {% if is_paginated %}
      <center>
            <nav>
              <ul class="pagination pagination-sm">
                  {% if page_obj.has_previous %}
                    <li>
                    <a href="/notifications/?page={{ page_obj
                    .previous_page_number }}"<span aria-label="Previous" aria-hidden="true">&laquo;</span></a>
                   {% else %}
                      <li class="disabled">
                        <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                  {% endif %}
                  </li>
                  <li><span class="page-current">
                      Page  {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                  </span></li>
                  {% if page_obj.has_next %}
                     <li>
                      <a href="/notifications/?page={{ page_obj
                      .next_page_number
		                      }}">&raquo;</a>
                  {% else %}
                      <li class="disabled">
                        <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                  {% endif %}
              </li>
              </ul>
            </nav>
        </center>
      {% endif %}
      </div>
      {% else %}
      <code> Space forbidden for your user.</code>
    {% endif %}
{% endblock %}
{% block footer %} 
  <li class="active">Notifications</li>
{% endblock %}