{% extends "base.html" %}
{% block content %}
  {% if user.is_authenticated %}
    <center>
    <div class="panel panel-info">
      <div class="panel-heading">
         <h2>
              <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>&nbsp;
              <text>Detail of order <a href="{{ shipment.getabsoluteurl }}">
	              {{order.id}}</a></text>
         </h2>
      </div>
       <ul class="list-group">
            <li class="list-group-item"><b>Order:</b><a href="{% url
	            'detail_order' order.id %}"> {{order.id }}</a></li>
            <li class="list-group-item"><b>Date departure: </b>{{ order.sign_date }}</li>
            <li class="list-group-item"><b>Tracking number:</b>
	            {{ shipment.number }}
            </li>
            {% if order.informacion_adicional %}
              <li class="list-group-item"><b>Information extra: </b>
	            {{order.informacion_adicional}}</li>
            {% endif %}
            <li class="list-group-item"><b>Shipment price: €</b>
              {{order.shipment_price}}
            </li>
            <li class="list-group-item"><b>delivered: </b>
               {% if order %}
                <span class="glyphicon glyphicon-ok" aria-hidden="True"></span>
                {{order.fecha_intrega}}
              {% else %}               
                <span class="glyphicon glyphicon-remove" aria-hidden="True"></span>
              {% endif %}
            </li>
            <li class="list-group-item"><b>Company:</b>
              {{order.comp}}
            </li>
            <li class="list-group-item"><b>Link for tracking:</b>
              {{order.url_comp}}
            </li>
        </ul>
  </div>
  </center>
  <br>
  <br>
  {% endif %}
{% endblock %}
{% block footer %} 
  <li class="active">Detail of shipment</li>
{% endblock %}
