<script>
function cambiaPrice(seleccionado) {
  if (seleccionado.value=="Sin") {
      document.getElementById('paintingPrice').innerHTML="0";
      document.getElementById('extra').innerHTML="Aluminio sin pintar.";
      document.getElementById('square').style.visibility="hidden";
  } else if (seleccionado.value=="Blanco") {
      document.getElementById('paintingPrice').innerHTML="15";
      document.getElementById('extra').innerHTML="Blanco, referincia: #ffffff";
      document.getElementById('square').style.visibility="visible";
      document.getElementById('square').style.backgroundColor="#ffffff";
  } else if (seleccionado.value=="Negro") {
      document.getElementById('paintingPrice').innerHTML="10";
      document.getElementById('extra').innerHTML="Negro, referincia: #000000";
      document.getElementById('square').style.visibility="visible";
      document.getElementById('square').style.backgroundColor="#000000";
  } else if (seleccionado.value=="Rojo") {
      document.getElementById('paintingPrice').innerHTML="10";
      document.getElementById('extra').innerHTML="Rojo, referincia: #c8393b";
      document.getElementById('square').style.visibility="visible";
      document.getElementById('square').style.backgroundColor="#c8393b";
  } else if (seleccionado.value=="Rosa") {
      document.getElementById('paintingPrice').innerHTML="10";
      document.getElementById('extra').innerHTML="Rosa, referincia: #e85b99";
      document.getElementById('square').style.visibility="visible";
      document.getElementById('square').style.backgroundColor="#e85b99";
  } else {
    document.getElementById('paintingPrice').innerHTML="10";
    document.getElementById('extra').innerHTML="Azul, referincia: #00B4BC";
    document.getElementById('square').style.visibility="visible";
    document.getElementById('square').style.backgroundColor="#00B4BC";
  }
}
</script>
{% extends "base.html" %}
{% block titulo %}Company{% endblock %}
{% block content %}
        <h2>
          <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>&nbsp;
          <text>New order</text>
        </h2><hr>
      {% if form.errors or form.non_field_errors %}
        <div class="text-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>  
        {% if form.errors|length == 1 or form.non_field_errors|length == 1 %} 
            please, check the next error:
            {% else %} 
            please, check the wrong fields:
            {% endif %}
            {{ form.errors}} {{ form.non_field_errors }}
        </div>
          {% endif %}
            {% if not form.modulo.in_sale %}
          <form method="post" action="{% url "createOrder2" pk %}" class="form-group">{% csrf_token %}
            <div class="row">
              <div class="col-lg-6 col-md-6">
                {% if form.modulo %}
                  <label for="modulo"><b>Modules</b></label>
                  <div class="radio">
                  {{form.modulo}}
                  </div>
                {% endif %}
                 {% if form.color %}
                  <div class="form-group">
                  <label for="color"><b>Hand painting</b></label> <br>
                  {{form.color}}
                  <div class="helptext"><p>This takes some days longer.</p>
                  </div>
                  </div>
                {% endif %}
                  <div class="form-group">
              <h5>Extra:
                <span id="paintingPrice">0</span>€  
              </h5> <span id="extra"></span>
              <div id="square" class="border_line"></div>
            </div> 
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                {{form.text}}
              </div>
              </div>
            </div>
            <div class="form-group">
                    {{form.captcha}}
                  </div>
              <br>
              <div class="helptext">
                <ul>
                <li>Your order will be created and you will be provided with a <code>code</code> and instructions to procced on PayPal
                  within <code>72h.</code>, if not the product will be on sale again automatically.</li>
                <li>If everything goes fine, the order will be accepted and the manufacturing will start. You will be informed with 
                  every step the order pass by. </li>
                <li>At the end, whin we send it, you will be able to consult the shipment state, invoice, etc.</li>
                <li>Every change on the state will be sint by notification to your inbox in this website. </li>
                </ul>
             </div>
              <hr>
              <div class="form-group"><!--Botones-->
                <button type="submit" value="Save" class="btn btn-info btn-md" id="idBotonSend">
                <i class="glyphicon glyphicon-saved"></i> Send</button>
                <button type="submit" value="Cancel" class="btn btn-warning btn-md" id="BotonCancel" name="cancel"> <i class="glyphicon glyphicon-ban-circle"></i> Cancel</button>
              </div>
          </form>
        {%else%}
        <code>Actually there are no products for sale</code>
        {% endif %}
{% endblock %}
{% block footer %} 
   <li class="active">Create order</li>
{% endblock %}
