{% extends "base.html" %}
{% block titulo %}Company{% endblock %}
{% block content %}
    <h2>
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
      <text>Create an account</text>
    </h2>
    <hr>
		{% if form.errors or form.non_field_errors %}
    <div class="text-danger" role="alert">
       <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>   
  	   {% if form.errors|length == 1 or form.non_field_errors|length == 1 %} 
        please, check the next error:
        {% else %} 
        please, check the wrong fields:
       {% endif %}
       {{ form.non_field_errors }}
  	</div>
		{% endif %}
    <form class="form-horizontal" method="post" action="{% url "create_user" %}">{% csrf_token %}
      {% for i in form %}
        <div class="form-group">
          <label for="{{i.label}}" class="col-sm-2 control-label">{{i.label}}</label>
          <div class="col-sm-7">
             {{i}}
              {% if form.errors %}
                  <div id="{{ i.auto_id }}_error" class="text-danger">
                 {{ i.errors }}
                  </div>

              {% endif %}
             {% if help %} <div class="helptext">{{i.help_text}}</div>{%endif%}
             {% if i.name == "acepto" %}  <small><p>Its mandatory to accept the landing:terms <a href="{% url 'landing:terms' %}" target=_blank>landing:terms</a></p>.</small>{%endif%}
          </div>
        </div>  
        {% endfor%}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
            <button role="button" type="submit" class="btn btn-info btn-md">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save</button>
            <a class="btn btn-warning btn-md" href="{% url 'index' %}" role="button" value="Cancel" name="cancel">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
              </a>
          </div>
        </div>
      </form>
{% endblock %}
{% block footer %} 
  <li class="active">Create account</li>
{% endblock %}{% comment %}
{% endcomment %}
